# fly.toml app configuration file generated for restore-254 on 2023-12-27T21:41:23+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "restore-254"
primary_region = "jnb"

[build]
  image = "collinsk/restore:latest"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

[env]
  ASPNETCORE_URLS="http://+8080"
  StripeSettings__PublishableKey="pk_test_51OOjmAEHRlzQ85rVRpQtXLYpYA5nVmPqDKB5P8zq3hGZaTZuXgNeTZE6lqWlbDps2s0FXbxb1oqfffY2uAZIEbvf00Gms8emHy"
